# Revision of previous class

In [6]:
def square(num):
    square=num*num
    print(square)

In [7]:
square(12)

144

In [8]:
def square(num):
    sqr=num*num

In [9]:
print(sqr)

NameError: name 'sqr' is not defined

In [56]:
def square(num):
    
    #local varibale
    sqr=num*num
    print(sqr)
    #global variable
    global name
    name = "Dildar Ali"

In [57]:
square(2)

4

In [58]:
print(name)

Dildar Ali

In [59]:
square(2)

4

In [24]:
def square(num):
    sqr=num*num
  #  return sqr

In [25]:
square(10)

In [26]:
def square(num):
    sqr=num*num
    return sqr

In [27]:
square(10)

100

In [28]:
a=square(10)

In [29]:
a

100

In [31]:
print(a+1)

101

In [32]:
def square(num):
    
    sqr=num*num
    return sqr

    print("Hi dildar") # not returns
    return abc    # not returns

In [35]:
square(12)

144

In [36]:
def square(num):
    
    sqr=num*num
    return sqr,"Hello",True

In [38]:
square(12)

(144, 'Hello', True)

In [41]:
def add(a,b):
    return a+b

In [42]:
add(2,4)

6

In [60]:
def mul(a,b):
    c=a*b
    global name
    name="Dildar"
    return c

In [61]:
mul(2,3)

6

In [62]:
print(name)

Dildar

In [63]:
print(mul(2,3))

6

In [64]:
def mul(a,b):
    c=a*b
    print(c)

In [65]:
print(mul(2,3))

6
None

In [79]:
print(c)

NameError: name 'c' is not defined

In [72]:
def mul(a,b):
    return a*b

In [73]:
mul(2,3)

6

In [74]:
print(mul(2,3))

6

In [76]:
def mul(a,b):
    c= a*b
    return

In [77]:
mul(2,3)

In [78]:
print(mul(2,3))

None

# Positional parameters in Arguments 
# Today's class work

In [82]:
def complete_name(first_name,last_name):
    full_name= first_name +" "+ last_name
    return full_name

In [83]:
complete_name("Ali","Dildar")

'Ali Dildar'

In [84]:
complete_name("Dildar","Ali")

'Dildar Ali'

# Default_parameters

In [85]:
def cube(num):
    cube= num**3
    return cube

In [86]:
cube()

TypeError: cube() missing 1 required positional argument: 'num'

In [87]:
def cube(num=1):
    cube= num**3
    return cube

In [88]:
cube()

1

In [1]:
print("Dildar","Ali",sep="\n")

Dildar
Ali

In [90]:
print("Dildar","Ali",sep="\t")

Dildar	Ali

In [93]:
print("Dildar","Ali",sep=".")

Dildar.Ali

In [94]:
def summ(a,b):
    summ=a+b
    return summ

In [96]:
summ()

TypeError: summ() missing 2 required positional arguments: 'a' and 'b'

In [97]:
def summ(a=2,b=4):
    summ=a+b
    return summ

In [98]:
summ()

6

In [7]:
def calc(a,b):
    n=input("Plz enter 'd' for addition , 'a' for subtraction , 'm' for multiplication and 'd' for division: ")
    if n=="a":
        print(a+b)
    elif n=="s":
        print(a-b)
    elif n=="m":
        print(a*b)
    elif n=="d":
        print(a//b)

In [8]:
calc(2,3)

Plz enter 'd' for addition , 'a' for subtraction , 'm' for multiplication and 'd' for division: d
0.6666666666666666

In [3]:
def calc(a,b):
    n=input("Plz enter 'a' for addition , 's' for subtraction , 'm' for multiplication and 'd' for division: ")
    if n=="a":
        print(a+b)
    elif n=="s":
        print(a-b)
    elif n=="m":
        print(a*b)
    elif n=="d":
        print(a//b)

In [4]:
calc(2,4)

Plz enter 'a' for addition , 's' for subtraction , 'm' for multiplication and 'd' for division: m
8

In [5]:
calc(8,2)

Plz enter 'a' for addition , 's' for subtraction , 'm' for multiplication and 'd' for division: d
4

In [7]:
lst=[11,2,33,44,5,6,7]
#n=int(input("Enter your number: ")).split(',')
for i in lst:
    b=max(lst)
print(f"The largest nmbr in list is {b}")

The largest nmbr in list is 44

In [3]:
def lst_max(arr):        
    return (max(arr)),(min(arr))

In [5]:
lst_max([22,3,44,5,666,6,5,4])

(666, 3)

In [7]:
_max

666

In [8]:
_min

3

In [10]:
def dosquare(arr):
    return [a**2 for a in arr]

In [11]:
dosquare([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [13]:
def dosquare(arr):
    return [a**2 for a in arr if a<10 ]

In [14]:
dosquare([22,2])

[4]

In [15]:
def dosquare(arr):
    return [a**2 for a in arr if a<10 else a]

SyntaxError: invalid syntax (Temp/ipykernel_1808/3845395676.py, line 2)

In [16]:
def dosquare(arr):
    return [a**2 if a<10 else a for a in arr ]

In [17]:
dosquare([2,3,4,55,66])

[4, 9, 16, 55, 66]

In [38]:
def names(arr):
    return [name for name in arr if len(str(name))<10]

In [41]:
names(['Ghulamalikhanbaloch','Nasir','Asad','Dildar','Ali','Bilal','Khanmuhammadali'])

['Nasir', 'Asad', 'Dildar', 'Ali', 'Bilal']